*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

body{
    width: 100%;
    height: 100vh;
}

/* Navbar CSS */
header{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffffd0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px 50px;
    align-items: center;
}

.hamburger{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo{
    width: 20%;
    min-width: 30px;
    max-width: 60px;
}

.logo img{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 30%;
    gap: 20px;
}

.links li{
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.5s ease;
    
}

.links li a:hover{
    color: rgba(44, 44, 105, 0.828);
    text-decoration: underline;
}


.btn{
    display: flex;
    justify-content: space-between;
    width: 14%;
}


.btn button{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 0 5px;
}


/* main css */

main{
    padding-top: 20px;
}

.container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0;
    justify-content: space-evenly;
    align-content: space-evenly;
    place-items: center;
}

.product-card{
    min-width: 250px;
    max-width: 300px;
    min-height: 400px;
    max-height: 500px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.product-card img{
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 60%;
    max-height: 300px;
}

.info{
    padding: 5px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}

.price{
    color: darkcyan;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 0;
}

.buy-btn{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 0 5px;
}

/* footer */

footer{
    padding: 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.footer-left{
    width: 50%;
    text-align: left;
}

.footer-right{
    width: 50%;
    text-align: right;
}


/* Responsiveness CSS of NAVBAR */
@media (max-width:768px) {
    .hamburger{
        display: block;
    }

    .links{
        display: none;
    }
    
    .btn{
        display: none;
    }
}

/* Responsiveness CSS of PRODUCT-CONTAINER */
@media (min-width:1650px) {
    .container{
        grid-template-columns: repeat(5, 1fr);
        gap: 50px 0;
    }
}

@media (max-width:1300px) {
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:970px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:640px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}